# SQL Agent - Real Estate Database

This notebook serves as a simple demonstration of the core capabilities of the SQL agent. It is inspired by the repository at [Advanced QA and RAG Series](https://github.com/Farzad-R/Advanced-QA-and-RAG-Series?tab=readme-ov-file#Q&A-and-RAG-with-SQL-and-TabularData).

In this example, I load a subset of the data, consisting of 1,000 properties, focusing on a few columns that represent the most basic features.

I then use a SQL agent from LangChain ([documentation](https://api.python.langchain.com/en/latest/agent_toolkits/langchain_community.agent_toolkits.sql.base.create_sql_agent.html)) to query the data. To ensure the accuracy of the results, I also verify the queries using Pandas.

In [1]:
import pandas as pd
from pyprojroot import here

In [2]:
df = pd.read_csv(here("data/for_upload/properties_information_basic_features.csv"))
print(df.shape)
print(df.columns.tolist())
display(df.head(3))

(1000, 19)
['zpid', 'city', 'state', 'homeStatus', 'streetAddress', 'zipcode', 'bedrooms', 'bathrooms', 'price', 'longitude', 'latitude', 'homeType', 'lotSize', 'zestimate', 'rentZestimate', 'dateSoldString', 'taxAssessedValue', 'taxAssessedYear', 'parcelId']

,zpid,city,state,homeStatus,streetAddress,zipcode,bedrooms,bathrooms,price,longitude,latitude,homeType,lotSize,zestimate,rentZestimate,dateSoldString,taxAssessedValue,taxAssessedYear,parcelId
0,63662682,Greer,SC,SOLD,1008 Carriage Park Cir,29650,4.0,3.0,415000,-82.27929,34.867980,SINGLE_FAMILY,9583.0,581300.0,3153,2021-09-28,402970.0,2023.0,0534410100500
1,5716098,Lexington,NC,SOLD,1309 Riverwood Dr,27292,3.0,3.0,375000,-80.29264,35.654854,SINGLE_FAMILY,80586.0,447100.0,1900,2022-09-02,262980.0,2023.0,06036L0000006000
2,29134937,Arlington,TX,SOLD,1418 Cardinal St,76010,4.0,2.0,0,-97.08692,32.724987,SINGLE_FAMILY,9147.0,240000.0,1802,2022-05-25,213321.0,2023.0,03243176

### **SQL**


Most SQL databases make it easy to load a CSV file in as a table (DuckDB, SQLite, etc.). Once you’ve done this you can use all of the chain and agent-creating techniques outlined in the SQL use case guide. Here’s a quick example of how we might do this with SQLite:

In [ ]:
from langchain_community.utilities import SQLDatabase
from sqlalchemy import create_engine
db_path = str(here("data")) + "/csv_xlsx_sqldb.db"
db_path = f"sqlite:///{db_path}"

engine = create_engine(db_path)
# df.to_sql("titanic", engine, index=False)
df.to_sql("properties", engine, index=False)

For multiple csv files, we can create a sql with multiple tables:
```
df1.to_sql("csv1_name", engine, index=False)
df2.to_sql("csv2_name", engine, index=False)
```

**Lets make a test Query**

In [22]:
db = SQLDatabase(engine=engine)
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM properties WHERE state = 'WA';")

sqlite
['properties', 'properties_information']

"[(49400095, 'Rainier', 'WA', 'OTHER', '802 Tipsoo Loop S', 98576, 3.0, 1.25, 469900, -122.68318, 46.89975, 'MANUFACTURED', 67082.0, 469900.0, 2114, '2000-11-15', 429900.0, 2023.0, '63550014200'), (23232081, 'Vancouver', 'WA', 'OTHER', '3517 Grant St', 98660, 2.0, 1.0, 446900, -122.67795, 45.64753, 'SINGLE_FAMILY', 5349.0, 446900.0, 1994, '1975-08-01', 438766.0, 2023.0, '004480000'), (23610252, 'Bellingham', 'WA', 'OTHER', '66 Marigold Dr', 98229, 3.0, 3.0, 916500, -122.321144, 48.714054, 'SINGLE_FAMILY', None, 916500.0, 2614, '1999-10-18', 905898.0, 2023.0, '3704083694650000'), (67024958, 'Kelso', 'WA', 'OTHER', '709 S 5th Ave', 98626, 2.0, 1.0, 283900, -122.91032, 46.139755, 'SINGLE_FAMILY', 5662.0, 283900.0, 1700, '2013-01-18', 248450.0, 2023.0, '22746'), (49258449, 'Spanaway', 'WA', 'RECENTLY_SOLD', '21818 42nd Avenue E', 98387, 5.0, 3.0, 535000, -122.37244, 47.05826, 'SINGLE_FAMILY', 10001.0, 553400.0, 2895, '2023-11-06', 468400.0, 2023.0, '5001141430'), (67013600, 'Longview', 'WA', 'FOR_SALE', '1 Monterrey Place', 98632, 3.0, 3.0, 579900, -122.94319, 46.15431, 'SINGLE_FAMILY', 9600.0, 562200.0, 2829, '2001-10-03', 399150.0, 2023.0, '02206339'), (38611480, 'Everett', 'WA', 'SOLD', '1427 100th Street SW UNIT 40', 98204, 3.0, 2.0, 185000, -122.25388, 47.91012, 'MANUFACTURED', None, 202000.0, 632, '2021-07-09', 193700.0, 2023.0, '00960003604000'), (49324498, 'Puyallup', 'WA', 'OTHER', '14715 105th Avenue Ct E', 98374, 3.0, 1.75, 489000, -122.28798, 47.122265, 'SINGLE_FAMILY', 10637.0, 489000.0, 2767, '1986-10-03', 403100.0, 2023.0, '7760300030'), (96678923, 'Bellevue', 'WA', 'OTHER', '7011 172nd Ave SE', 98006, 5.0, 4.25, 3538300, -122.11132, 47.539288, 'SINGLE_FAMILY', 13696.0, 3538300.0, 9432, '2016-04-01', 2526000.0, 2023.0, '0715010490'), (102645854, 'Spanaway', 'WA', 'SOLD', '1619 177th Street E', 98387, 3.0, 3.0, 485000, -122.40774, 47.096222, 'SINGLE_FAMILY', 4900.0, 547100.0, 2999, '2021-08-20', 472400.0, 2023.0, '5003660410'), (49247236, 'Tacoma', 'WA', 'OTHER', '648 S Howard St', 98465, 2.0, 1.0, 386200, -122.53037, 47.253716, 'SINGLE_FAMILY', 6995.0, 386200.0, 1923, '2000-06-30', 357600.0, 2023.0, '4485000730'), (23289824, 'Vancouver', 'WA', 'OTHER', '11910 SE McGillivray Blvd', 98683, 4.0, 3.0, 499600, -122.54979, 45.613335, 'SINGLE_FAMILY', 10018.0, 499600.0, 2850, '2011-07-29', 410628.0, 2023.0, '114729074'), (23667850, 'Point Roberts', 'WA', 'OTHER', '713 Marine Dr', 98281, 2.0, 1.0, 1126200, -123.08283, 48.97714, 'SINGLE_FAMILY', 54450.0, 1126200.0, 3818, '1996-05-01', 1064848.0, 2023.0, '4053095044210000'), (48915032, 'Bellevue', 'WA', 'RECENTLY_SOLD', '16851 NE 14th Place', 98008, 4.0, 3.0, 1407500, -122.115555, 47.622723, 'SINGLE_FAMILY', 9652.0, 1472800.0, 3999, '2023-10-31', 972000.0, 2023.0, '4040700300'), (23553667, 'Spokane', 'WA', 'OTHER', '1318 E Wabash Ave', 99207, 3.0, 1.0, 262700, -117.39035, 47.70197, 'SINGLE_FAMILY', 5227.0, 262700.0, 1500, '2012-05-30', 212500.0, 2022.0, '363241603'), (63335985, 'Issaquah', 'WA', 'OTHER', '23120 SE Black Nugget Rd UNIT D1', 98029, 4.0, 3.25, 979200, -122.03075, 47.548565, 'CONDO', 185577.0, 979200.0, 3599, '2003-09-05', 1042000.0, 2023.0, '3067000150'), (23508681, 'Spokane', 'WA', 'RECENTLY_SOLD', '4517 N Lidgerwood St', 99207, 1.0, 1.0, 171000, -117.40632, 47.69962, 'SINGLE_FAMILY', 5000.0, 171600.0, 1170, '2024-04-30', 189600.0, 2023.0, '350520628'), (67977549, 'Tacoma', 'WA', 'RECENTLY_SOLD', '2958 S Proctor Street', 98409, 2.0, 3.0, 360000, -122.488884, 47.233875, 'TOWNHOUSE', 2866.0, 364900.0, 2420, '2024-03-20', 314000.0, 2023.0, '9005610020'), (82576447, 'Ellensburg', 'WA', 'OTHER', '905 W Cascade Ct UNIT 32', 98926, None, 2.0, 153800, -120.56186, 47.00287, 'SINGLE_FAMILY', 924.0, 153800.0, 635, '2012-05-18', 7730.0, 2022.0, '17650'), (23619360, 'Bellingham', 'WA', 'OTHER', '3028 Elm St', 98225, 1.0, 1.0, 456800, -122.48803, 48.77055, 'SINGLE_FAMILY', 4791.0, 456800.0, 1500, '2003-07-02', 458485.0, 2023.0, '3802245193930000'), (55201706, 'Auburn', 'WA', 'OTHER', '1129 61st St SE #D-16', 98092, 2.0, 2.0, 354800, -122.21381, 47.253048, 'CONDO', 287609.0, 354800.0, 2100, '2019-05-22', 288200.0, 2023.0, '9003560140'), (284883366, 'Lake Stevens', 'WA', 'OTHER', '2121 101st Dr SE', 98258, 4.0, 3.0, 928000, -122.09541, 47.976543, 'SINGLE_FAMILY', 4792.0, 928000.0, 3527, '2021-03-11', 797100.0, 2023.0, '01173900003600'), (49293184, 'Lakewood', 'WA', 'OTHER', '8804 Frances Folsom St SW', 98498, 3.0, 2.0, 1439800, -122.554085, 47.139446, 'SINGLE_FAMILY', 17498.0, 1439800.0, 5985, '2006-12-05', 1155900.0, 2023.0, '6385300380'), (99372591, 'Bonney Lake', 'WA', 'OTHER', '13522 188th Ave E', 98391, 3.0, 2.5, 708700, -122.180695, 47.132412, 'SINGLE_FAMILY', 5623.0, 708700.0, 3399, '2013-07-17', 586500.0, 2023.0, '7002260380'), (80118002, 'Woodinville', 'WA', 'OTHER', '20341 134th Ave NE', 98072, 4.0, 3.5, 1435000, -122.16256, 47.775345, 'SINGLE_FAMILY', 3598.0, 1435000.0, 4905, '2018-06-20', 1053000.0, 2023.0, '2738640130'), (48960953, 'Auburn', 'WA', 'RECENTLY_SOLD', '1809 C Street SE', 98002, 4.0, 4.0, 550000, -122.226204, 47.29219, 'MULTI_FAMILY', 12937.0, 752400.0, 3497, '2024-01-19', 566000.0, 2023.0, '5422400070'), (79531363, 'Spokane', 'WA', 'OTHER', '3707 W Jay St', 99208, 4.0, 3.0, 555800, -117.465195, 47.73949, 'SINGLE_FAMILY', 11475.0, 555800.0, 2949, '2007-04-25', 519900.0, 2023.0, '262321011'), (112551265, 'Port Townsend', 'WA', 'OTHER', '4330 Lopez Ave', 98368, 3.0, 2.0, 602100, -122.77624, 48.129944, 'SINGLE_FAMILY', 10454.0, 602100.0, 2650, '2012-06-29', 478141.0, 2022.0, '992300018'), (48847449, 'Seattle', 'WA', 'OTHER', '130 NE 95th St APT A206', 98115, 2.0, 2.0, 436200, -122.32703, 47.698215, 'CONDO', 53157.0, 436200.0, 2496, '2015-10-11', 408000.0, 2023.0, '3130900150'), (112548439, 'Port Ludlow', 'WA', 'OTHER', '121 Mariner Pl', 98365, 3.0, 3.0, 782800, -122.683334, 47.91257, 'SINGLE_FAMILY', 6098.0, 782800.0, 3455, '2018-04-09', 662859.0, 2022.0, '931900008'), (49164682, 'Gig Harbor', 'WA', 'OTHER', '2710 120th Street Ct NW', 98332, 3.0, 2.25, 732300, -122.57503, 47.367386, 'SINGLE_FAMILY', 52272.0, 732300.0, 3499, '2012-07-30', 643600.0, 2023.0, '0222295003')]"

**Equivalent in Pandas**

In [21]:
df[df['state'] == 'WA']

,zpid,city,state,homeStatus,streetAddress,zipcode,bedrooms,bathrooms,price,longitude,latitude,homeType,lotSize,zestimate,rentZestimate,dateSoldString,taxAssessedValue,taxAssessedYear,parcelId
4,49400095,Rainier,WA,OTHER,802 Tipsoo Loop S,98576,3.0,1.25,469900,-122.683180,46.899750,MANUFACTURED,67082.0,469900.0,2114,2000-11-15,429900.0,2023.0,63550014200
23,23232081,Vancouver,WA,OTHER,3517 Grant St,98660,2.0,1.00,446900,-122.677950,45.647530,SINGLE_FAMILY,5349.0,446900.0,1994,1975-08-01,438766.0,2023.0,004480000
80,23610252,Bellingham,WA,OTHER,66 Marigold Dr,98229,3.0,3.00,916500,-122.321144,48.714054,SINGLE_FAMILY,NaN,916500.0,2614,1999-10-18,905898.0,2023.0,3704083694650000
190,67024958,Kelso,WA,OTHER,709 S 5th Ave,98626,2.0,1.00,283900,-122.910320,46.139755,SINGLE_FAMILY,5662.0,283900.0,1700,2013-01-18,248450.0,2023.0,22746
200,49258449,Spanaway,WA,RECENTLY_SOLD,21818 42nd Avenue E,98387,5.0,3.00,535000,-122.372440,47.058260,SINGLE_FAMILY,10001.0,553400.0,2895,2023-11-06,468400.0,2023.0,5001141430
209,67013600,Longview,WA,FOR_SALE,1 Monterrey Place,98632,3.0,3.00,579900,-122.943190,46.154310,SINGLE_FAMILY,9600.0,562200.0,2829,2001-10-03,399150.0,2023.0,02206339
252,38611480,Everett,WA,SOLD,1427 100th Street SW UNIT 40,98204,3.0,2.00,185000,-122.253880,47.910120,MANUFACTURED,NaN,202000.0,632,2021-07-09,193700.0,2023.0,00960003604000
303,49324498,Puyallup,WA,OTHER,14715 105th Avenue Ct E,98374,3.0,1.75,489000,-122.287980,47.122265,SINGLE_FAMILY,10637.0,489000.0,2767,1986-10-03,403100.0,2023.0,7760300030
441,96678923,Bellevue,WA,OTHER,7011 172nd Ave SE,98006,5.0,4.25,3538300,-122.111320,47.539288,SINGLE_FAMILY,13696.0,3538300.0,9432,2016-04-01,2526000.0,2023.0,0715010490
553,102645854,Spanaway,WA,SOLD,1619 177th Street E,98387,3.0,3.00,485000,-122.407740,47.096222,SINGLE_FAMILY,4900.0,547100.0,2999,2021-08-20,472400.0,2023.0,5003660410
581,49247236,Tacoma,WA,OTHER,648 S Howard St,98465,2.0,1.00,386200,-122.530370,47.253716,SINGLE_FAMILY,6995.0,386200.0,1923,2000-06-30,357600.0,2023.0,4485000730
585,23289824,Vancouver,WA,OTHER,11910 SE McGillivray Blvd,98683,4.0,3.00,499600,-122.549790,45.613335,SINGLE_FAMILY,10018.0,499600.0,2850,2011-07-29,410628.0,2023.0,114729074
599,23667850,Point Roberts,WA,OTHER,713 Marine Dr,98281,2.0,1.00,1126200,-123.082830,48.977140,SINGLE_FAMILY,54450.0,1126200.0,3818,1996-05-01,1064848.0,2023.0,4053095044210000
606,48915032,Bellevue,WA,RECENTLY_SOLD,16851 NE 14th Place,98008,4.0,3.00,1407500,-122.115555,47.622723,SINGLE_FAMILY,9652.0,1472800.0,3999,2023-10-31,972000.0,2023.0,4040700300
614,23553667,Spokane,WA,OTHER,1318 E Wabash Ave,99207,3.0,1.00,262700,-117.390350,47.701970,SINGLE_FAMILY,5227.0,262700.0,1500,2012-05-30,212500.0,2022.0,363241603
626,63335985,Issaquah,WA,OTHER,23120 SE Black Nugget Rd UNIT D1,98029,4.0,3.25,979200,-122.030750,47.548565,CONDO,185577.0,979200.0,3599,2003-09-05,1042000.0,2023.0,3067000150
656,23508681,Spokane,WA,RECENTLY_SOLD,4517 N Lidgerwood St,99207,1.0,1.00,171000,-117.406320,47.699620,SINGLE_FAMILY,5000.0,171600.0,1170,2024-04-30,189600.0,2023.0,350520628
673,67977549,Tacoma,WA,RECENTLY_SOLD,2958 S Proctor Street,98409,2.0,3.00,360000,-122.488884,47.233875,TOWNHOUSE,2866.0,364900.0,2420,2024-03-20,314000.0,2023.0,9005610020
707,82576447,Ellensburg,WA,OTHER,905 W Cascade Ct UNIT 32,98926,NaN,2.00,153800,-120.561860,47.002870,SINGLE_FAMILY,924.0,153800.0,635,2012-05-18,7730.0,2022.0,17650
733,23619360,Bellingham,WA,OTHER,3028 Elm St,98225,1.0,1.00,456800,-122.488030,48.770550,SINGLE_FAMILY,4791.0,456800.0,1500,2003-07-02,458485.0,2023.0,3802245193930000
747,55201706,Auburn,WA,OTHER,1129 61st St SE #D-16,98092,2.0,2.00,354800,-122.213810,47.253048,CONDO,287609.0,354800.0,2100,2019-05-22,288200.0,2023.0,9003560140
786,284883366,Lake Stevens,WA,OTHER,2121 101st Dr SE,98258,4.0,3.00,928000,-122.095410,47.976543,SINGLE_FAMILY,4792.0,928000.0,3527,2021-03-11,797100.0,2023.0,01173900003600
796,49293184,Lakewood,WA,OTHER,8804 Frances Folsom St SW,98498,3.0,2.00,1439800,-122.554085,47.139446,SINGLE_FAMILY,17498.0,1439800.0,5985,2006-12-05,1155900.0,2023.0,6385300380
811,99372591,Bonney Lake,WA,OTHER,13522 188th Ave E,98391,3.0,2.50,708700,-122.180695,47.132412,SINGLE_FAMILY,5623.0,708700.0,3399,2013-07-17,586500.0,2023.0,7002260380
813,80118002,Woodinville,WA,OTHER,20341 134th Ave NE,98072,4.0,3.50,1435000,-122.162560,47.775345,SINGLE_FAMILY,3598.0,1435000.0,4905,2018-06-20,1053000.0,2023.0,2738640130
818,48960953,Auburn,WA,RECENTLY_SOLD,1809 C Street SE,98002,4.0,4.00,550000,-122.226204,47.292190,MULTI_FAMILY,12937.0,752400.0,3497,2024-01-19,566000.0,2023.0,5422400070
835,79531363,Spokane,WA,OTHER,3707 W Jay St,99208,4.0,3.00,555800,-117.465195,47.739490,SINGLE_FAMILY,11475.0,555800.0,2949,2007-04-25,519900.0,2023.0,262321011
873,112551265,Port Townsend,WA,OTHER,4330 Lopez Ave,98368,3.0,2.00,602100,-122.776240,48.129944,SINGLE_FAMILY,10454.0,602100.0,2650,2012-06-29,478141.0,2022.0,992300018
935,48847449,Seattle,WA,OTHER,130 NE 95th St APT A206,98115,2.0,2.00,436200,-122.327030,47.698215,CONDO,53157.0,436200.0,2496,2015-10-11,408000.0,2023.0,3130900150
955,112548439,Port Ludlow,WA,OTHER,121 Mariner Pl,98365,3.0,3.00,782800,-122.683334,47.912570,SINGLE_FAMILY,6098.0,782800.0,3455,2018-04-09,662859.0,2022.0,931900008
988,49164682,Gig Harbor,WA,OTHER,2710 120th Street Ct NW,98332,3.0,2.25,732300,-122.575030,47.367386,SINGLE_FAMILY,52272.0,732300.0,3499,2012-07-30,643600.0,2023.0,0222295003

### **Create an agent to interact with the Database**

Load credentials. Here we're utilizing an OpenAI model through Azure.

In [6]:
import os
from dotenv import load_dotenv
import warnings
warnings.filterwarnings("ignore")
print("Environment variables are loaded:", load_dotenv())
print("test by reading a variable:", os.getenv("OPENAI_API_TYPE"))

Environment variables are loaded: True
test by reading a variable: azure

In [7]:
from langchain.chat_models import AzureChatOpenAI

model_name = os.getenv("gpt_deployment_name")
azure_openai_api_key = os.environ["OPENAI_API_KEY"]
azure_openai_endpoint = os.environ["OPENAI_API_BASE"]
llm = AzureChatOpenAI(
    openai_api_version=os.getenv("OPENAI_API_VERSION"),
    azure_deployment=model_name,
    model_name=model_name,
    temperature=0.0)

c:\Users\danielcarvalho.dcf\AppData\Local\Programs\Python\Python311\Lib\site-packages\langchain_core\_api\deprecation.py:141: LangChainDeprecationWarning: The class `AzureChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 0.3.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import AzureChatOpenAI`.
  warn_deprecated(

Now, let's run a test by querying the agent for properties located in Florida and Washington State.

In [24]:
from langchain_community.agent_toolkits import create_sql_agent
agent_executor = create_sql_agent(llm, db=db, verbose=True)

In [29]:
agent_executor.invoke({"input": "List the total houses in washington state and florida. also list the average price?"})

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""properties, properties_informationI should query the schema of the properties and properties_information tables to see what columns I can use to answer the question.
Action: sql_db_schema
Action Input: properties, properties_information
CREATE TABLE properties (
	zpid BIGINT,
	city TEXT,
	state TEXT,
	"homeStatus" TEXT,
	"streetAddress" TEXT,
	zipcode BIGINT,
	bedrooms FLOAT,
	bathrooms FLOAT,
	price BIGINT,
	longitude FLOAT,
	latitude FLOAT,
	"homeType" TEXT,
	"lotSize" FLOAT,
	zestimate FLOAT,
	"rentZestimate" BIGINT,
	"dateSoldString" TEXT,
	"taxAssessedValue" FLOAT,
	"taxAssessedYear" FLOAT,
	"parcelId" TEXT
)

/*
3 rows from properties table:
zpid	city	state	homeStatus	streetAddress	zipcode	bedrooms	bathrooms	price	longitude	latitude	homeType	lotSize	zestimate	rentZestimate	dateSoldString	taxAssessedValue	taxAssessedYear	parcelId
63662682	Greer	SC	SOLD	1008 Carriage Park Cir	29650	4.0	3.0	415000	-82.27929	34.86798	SINGLE_FAMILY	9583.0	581300.0	3153	2021-09-28	402970.0	2023.0	0534410100500
5716098	Lexington	NC	SOLD	1309 Riverwood Dr	27292	3.0	3.0	375000	-80.29264	35.654854	SINGLE_FAMILY	80586.0	447100.0	1900	2022-09-02	262980.0	2023.0	06036L0000006000
29134937	Arlington	TX	SOLD	1418 Cardinal St	76010	4.0	2.0	0	-97.08692	32.724987	SINGLE_FAMILY	9147.0	240000.0	1802	2022-05-25	213321.0	2023.0	03243176
*/


CREATE TABLE properties_information (
	zpid BIGINT,
	city TEXT,
	state TEXT,
	"homeStatus" TEXT,
	"streetAddress" TEXT,
	zipcode BIGINT,
	bedrooms FLOAT,
	bathrooms FLOAT,
	price BIGINT,
	longitude FLOAT,
	latitude FLOAT,
	"homeType" TEXT,
	"lotSize" FLOAT,
	zestimate FLOAT,
	"rentZestimate" BIGINT,
	"dateSoldString" TEXT,
	"taxAssessedValue" FLOAT,
	"taxAssessedYear" FLOAT,
	"parcelId" TEXT
)

/*
3 rows from properties_information table:
zpid	city	state	homeStatus	streetAddress	zipcode	bedrooms	bathrooms	price	longitude	latitude	homeType	lotSize	zestimate	rentZestimate	dateSoldString	taxAssessedValue	taxAssessedYear	parcelId
63662682	Greer	SC	SOLD	1008 Carriage Park Cir	29650	4.0	3.0	415000	-82.27929	34.86798	SINGLE_FAMILY	9583.0	581300.0	3153	2021-09-28	402970.0	2023.0	0534410100500
5716098	Lexington	NC	SOLD	1309 Riverwood Dr	27292	3.0	3.0	375000	-80.29264	35.654854	SINGLE_FAMILY	80586.0	447100.0	1900	2022-09-02	262980.0	2023.0	06036L0000006000
29134937	Arlington	TX	SOLD	1418 Cardinal St	76010	4.0	2.0	0	-97.08692	32.724987	SINGLE_FAMILY	9147.0	240000.0	1802	2022-05-25	213321.0	2023.0	03243176
*/I should query the properties table to get the total houses in Washington state and Florida, and the average price.
Action: sql_db_query
Action Input: "SELECT state, COUNT(*) as total_houses, AVG(price) as avg_price FROM properties WHERE state IN ('WA', 'FL') GROUP BY state"[('FL', 124, 557047.4596774194), ('WA', 31, 717996.7741935484)]I now know the final answer.
Final Answer: There are 31 houses in Washington state and 124 houses in Florida, with an average price of $717,996.77 and $557,047.46, respectively.

> Finished chain.

{'input': 'List the total houses in washington state and florida. also list the average price?',
 'output': 'There are 31 houses in Washington state and 124 houses in Florida, with an average price of $717,996.77 and $557,047.46, respectively.'}

in the output we can look at the agent Query:

SELECT

state,

COUNT(*) as total_houses,

AVG(price) as avg_price

FROM properties

WHERE state IN ('WA', 'FL')
GROUP BY state

Let's check the answer with Pandas

In [32]:
filtered_df = df[df['state'].isin(['WA', 'FL'])]

# Group by 'state' and calculate the count and average price
result = filtered_df.groupby('state')['price'].agg(['count', 'mean']).reset_index()

# Rename the columns for clarity
result.columns = ['State', 'Property Count', 'Average Price']

# Display the result
result

  State  Property Count  Average Price
0    FL             124  557047.459677
1    WA              31  717996.774194

Let's introduce some typos to see if the agent/LLM can handle it. 

Let's also see if the agent understands that we now need the average considering both states at the same time.

In [30]:
agent_executor.invoke({"input": "what's the average price in washignto satete and floreida?"})

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""properties, properties_informationI should query the schema of the properties table to see if it has a price column.
Action: sql_db_schema
Action Input: properties
CREATE TABLE properties (
	zpid BIGINT,
	city TEXT,
	state TEXT,
	"homeStatus" TEXT,
	"streetAddress" TEXT,
	zipcode BIGINT,
	bedrooms FLOAT,
	bathrooms FLOAT,
	price BIGINT,
	longitude FLOAT,
	latitude FLOAT,
	"homeType" TEXT,
	"lotSize" FLOAT,
	zestimate FLOAT,
	"rentZestimate" BIGINT,
	"dateSoldString" TEXT,
	"taxAssessedValue" FLOAT,
	"taxAssessedYear" FLOAT,
	"parcelId" TEXT
)

/*
3 rows from properties table:
zpid	city	state	homeStatus	streetAddress	zipcode	bedrooms	bathrooms	price	longitude	latitude	homeType	lotSize	zestimate	rentZestimate	dateSoldString	taxAssessedValue	taxAssessedYear	parcelId
63662682	Greer	SC	SOLD	1008 Carriage Park Cir	29650	4.0	3.0	415000	-82.27929	34.86798	SINGLE_FAMILY	9583.0	581300.0	3153	2021-09-28	402970.0	2023.0	0534410100500
5716098	Lexington	NC	SOLD	1309 Riverwood Dr	27292	3.0	3.0	375000	-80.29264	35.654854	SINGLE_FAMILY	80586.0	447100.0	1900	2022-09-02	262980.0	2023.0	06036L0000006000
29134937	Arlington	TX	SOLD	1418 Cardinal St	76010	4.0	2.0	0	-97.08692	32.724987	SINGLE_FAMILY	9147.0	240000.0	1802	2022-05-25	213321.0	2023.0	03243176
*/I can query the price column from the properties table for properties in Washington state and Florida, then calculate the average.
Action: sql_db_query
Action Input: "SELECT AVG(price) FROM properties WHERE state='WA' OR state='FL' LIMIT 10"[(589237.3225806452,)]The average price in Washington state and Florida is $589,237.32.
Final Answer: The average price in Washington state and Florida is $589,237.32.

> Finished chain.

{'input': "what's the average price in washignto satete and floreida?",
 'output': 'The average price in Washington state and Florida is $589,237.32.'}

In [33]:
filtered_df = df[df['state'].isin(['WA', 'FL'])]

# Calculate the overall average price for WA and FL combined
overall_avg_price = filtered_df['price'].mean()

# Display the result
print(f"The overall average price for properties in WA and FL is: ${overall_avg_price:.2f}")

The overall average price for properties in WA and FL is: $589237.32